<!DOCTYPE html>
<html ng-app="iApp">
<head>
  <title>Ремонт iPhone в Киеве. Сервисный центр «Service Apple» - Service-iPhone.com.ua</title>
  <meta charset="UTF-8"/>
  <!--<meta name="viewport" content="width=device-width; initial-scale=1.0">-->
  <meta name="author" content="Anton Abramov"/>
  <meta name="keywords" content=""/>
  <meta name="description"
        content="Сервис &quot;Service Apple&quot; выполняет ремонт iPhone, iPad, iPod и MacBook в Киеве, дает гарантию на 2 года и использует оригинальные запчасти."/>
  <link type="image/x-icon" rel="shortcut icon" href="favicon.ico"/>
  <link rel="stylesheet" href="css/style.css" type="text/css" media="all"/>
  <link rel="stylesheet" media="only screen and (min-width: 480px)" href="css/480.css">
  <link rel="stylesheet" media="only screen and (min-width: 600px)" href="css/600.css">
  <link rel="stylesheet" media="only screen and (min-width: 768px)" href="css/768.css">
  <link rel="stylesheet" media="only screen and (min-width: 992px)" href="css/992.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,cyrillic-ext' rel='stylesheet'
        type='text/css'>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>
<site-header></site-header>
<section ng-controller="deviceController" class="device-section">
  <h1 class="device-title">
    Ремонт iPhone
  </h1>

  <p class="heading-title">Выберите модель:</p>

  <div class="devices">
    <div ng-repeat="item in menuIphone" class="devices__item">
      <a href="{{item.href}}" title="{{item.title}}" class="devices__link">
        <span class="devices__img"><img class="devices__img--preview" src="{{item.imgSrc}}"
                                        alt="{{item.imgAlt}}"/></span>
        <span class="devices__name">{{item.text}}</span>
      </a>
    </div>
  </div>
</section>
<section class="problems-section bg-lightgray">
  <div class="container">
    <h2 class="heading-title">Выберите проблему</h2>
    <ul class="row problems" ng-controller="problemsController">
      <li ng-repeat="case in problemCases" class="col-md-4 col-lg-3 col-sm-6 problems__item">
        <a class="problems__link" href="{{case.href}}">
          <i class="{{case.iconName}} aa"></i>
          <span class="problems__text aus">
            {{case.text}}
          </span>
        </a>
      </li>
    </ul>
  </div>

</section>
<section class="information-section">
  <div class="container">
    <h2>Ремонт техники Apple в сервис-центрах «Total Apple»</h2>

    <p>Мастера сервисов Total Apple ремонтируют iPhone, iPad, iPod, MacBook и iMac. Ремонтируются все существующие
      модели, но для аппаратов старше 10 лет могут отсутствовать запчасти.</p>

    <div class="row">
      <div class="col-sm-6">
        <h3>
          <i class="icon-department aa"></i>
          Офисы
        </h3>

        <p>
          Под руководством Total Apple работают 3 офиса в Москве — на Цветном бульваре, на Китай-Городе и на Бауманской.
          До
          каждого из офисов идти не больше 2 минут от метро, у каждого есть таблички и вывески, вход несложно найти. Все
          офисы работают без выходных, с 10 утра до 8 вечера.
        </p>

        <p>Во всех отделениях имеется необходимый запас запчастей. Возможную нехватку запчастей в одном из офисов
          заранее
          восполняют штатные курьеры из запасов других отделений.</p>

        <p>Во всех отделениях ежедневно работают по несколько мастеров, таким образом в сервисах не бывает очередей.</p>

      </div>
      <div class="col-sm-6">
        <img src="img/office.jpg" height="300px;" width="100%" alt=""/>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-4">
        <h3>Приём аппарата<i class="icon-admistrator aa"></i></h3>

        <p>Клиенты обслуживаются без записи. Секретари принимают аппараты в ремонт как только клиент приходит в офис.
          Звонить заранее не обязательно.</p>
      </div>

      <div class="col-sm-4">
        <h3>Курьеры<i class="icon-running aa"></i></h3>

        <p>Есть возможность <a title="Вызов курьера" href="/delivery/">вызова курьера</a>,
          который привезет устройство в офис. В большинстве случаев курьеры выезжают сразу после получения заказа.</p>

        <p>Вызов курьера — бесплатная услуга.</p>
      </div>

      <div class="col-sm-4 ">
        <h3>Диагностика<i class="icon-stethoscope aa"></i></h3>

        <p>В сервисных центрах Total Apple диагностика выполняется бесплатно. Даже если клиент отказывается от ремонта,
          диагностика не оплачивается.</p>
      </div>
    </div>
    <div class="row content-row">
      <div class="col-sm-7">
        <div><h3>Выполняемые услуги<i class="icon-engineering aa"></i></h3>
          Инженеры сервисов Total Apple выполняют следующие виды услуг:
        </div>
        <div class="row content-row">
          <div class="col-sm-6">
            <ul class="content-list">
              <li>Замена любых деталей в аппарате:<br>
                <span class="content-list--gray">дисплеев, корпусов, кнопок, динамиков, микрофонов.</span></li>
            </ul>
          </div>

          <div class="col-sm-6">
            <ul class="content-list">
              <li>Пайка и другие работы по плате:<br>
                <span class="content-list--gray">замена микросхем, реболлинг BGA-чипов, замена и восстановление разъемов.</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="row content-row">
          <div class="col-sm-6">
            <ul class="content-list">
              <li>Комплексный ремонт после попадания воды.</li>
            </ul>
          </div>

          <div class="col-sm-6">

            <ul class="content-list">
              <li>Работа с ПО:<br>
                <span class="content-list--gray">прошивка, восстановление системы, сброс пароля.</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="">
          <img style="max-width: 100%;" src="img/content/repear_iphone.jpg" class="" alt="Ремонт iphone">
        </div>
      </div>
    </div>
    <div class="row content-row">
      <div class="col-sm-4 content-block">
        <div>
          <h3>
            Условия для ожидания
            <i class="icon-sofa aa"></i>
          </h3>

          <p>
            Во время ремонта аппарата, клиенты отдыхают в зоне ожидания или уходят по своим делам. Зоны ожидания
            оборудованы мягкими диванами, телевизорами и журналами. По просьбе клиента, секретарь приготовит чай или
            кофе.
          </p>
        </div>
      </div>
      <div class="col-sm-8 content-block">
        <div>
          <h3>Длительность ремонта<i class="icon-clock aa"></i></h3>

          <p>После получения аппарата, свободный мастер сразу же приступает к ремонту или, если проблема не ясна, к
            диагностике. Свободные мастера есть практически всегда.</p>

        </div>
        <div class="row content-row">
          <div class="col-sm-4 content-block">
            <div class="content-img-left">
              <img height="50" src="img/content/iphone_small.png" alt="Iphone картинка">
            </div>
            <div>
              <p>
                <a href="/">Ремонт iPhone</a>:<br>
                <span class="fa--gray"><i class="fa fa-clock-o"></i>&nbsp;30–40 минут</span></p>
            </div>
          </div>

          <div class="col-sm-4">

            <div class="content-img-left">

              <img height="50" src="img/content/ipad_small.png" alt="Ipad mini image">
            </div>
            <div>
              <p>
                <a title="Ремонт iPad" href="/remont-ipad/">Ремонт iPad</a> и
                <a href="/remont-ipod/" title="Ремонт iPod" >iPod</a>
                <span class="fa--gray"><i class="fa fa-clock-o"></i>&nbsp;1–2 часа</span></p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="content-img-left">
              <a href="/remont-macbook/"><img height="50" src="img/content/macbook_small.png" alt="MacBook pro "></a>
            </div>
            <p>
              <a title="Ремонт MacBook" href="/remont-macbook/">Ремонт&nbsp;MacBook</a>:<br>
              <span class="fa--gray"><i class="fa fa-clock-o"></i>&nbsp;1 день</span>
            </p>
          </div>
        </div>
      </div>
      <div class="row content-row">
        <div class="col-sm-4">
          <h3>Запчасти<i class="icon-memory-module aa"></i></h3>

          <p>Инженеры используют в ремонте оригинальные запчасти. Те запчасти, что отсутствуют у поставщиков, работники
            сервиса получают из купленных для разбора новых устройств. Стоимость запчастей включена в стоимость
            ремонта.</p>
        </div>
        <div class="col-sm-4">
          <h3>Гарантия<i class="icon-security-checked aa"></i></h3>

          <p>
            На все аппараты <a title="Гарантия" href="/about/warranty/">действует гарантия на 2 года</a>. Она
            распространяется на запчасти и на работу мастера. Чтобы сдать телефон или ноутбук по гарантии достаточно
            иметь акт выполненных работ.</p>
        </div>
        <div class="col-sm-4">
          <h3>Отзывы<i class="icon-voice-presentation aa"></i></h3>

          <p>За время работы компании, клиенты оставили <a title="Отзывы" href="/responses/">более 100 отзывов</a>. Все
            отзывы настоящие, с каждым из авторов можно связаться через ВКонтакте.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<address-map></address-map>-->
<section itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address" class="adress-section text-center">
  <h2>Как нас найти:</h2>
  <span itemprop="locality">г. Киев</span>
  <span itemprop="streetAddress">м. Площа Льва Толстого <br/> ул. Богдана Хмельницкого 32, оф.5</span>
  <div class="adress-section__telephones">
    <a href="tel:0961253246" itemprop="telephone" class="adress-section__number">(096) 1253246</a>
    <a href="tel:0937229156" itemprop="telephone" class="adress-section__number">(093) 7229156</a>
    <a href="tel:0665669752" itemprop="telephone" class="adress-section__number">(066) 5669752</a>
  </div>
  <meta itemprop="openingHours" content="Пн-Пт 10:00-19:00">Пн-Пт <strong>10:00 - 19:00</strong>
  <meta itemprop="openingHours" content="Сб 11:00-19:00">Сб <strong>9:00 - 20:00</strong><br/><br/>
  <div id="googleMap" style="width:100%;height:500px;"></div>
</section>
<footer-site></footer-site>
<script src="js/vnd/angular.min.js"></script>
<script src="js/app.js"></script>

<!-- Directives -->
<script src="/js/directives/header.js"></script>
<script src="/js/directives/address.js"></script>
<script src="/js/directives/footer.js"></script>

<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="js/init.js"></script>


</body>
</html>