<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm12">
        <p>
     Сервисный центр
     <a href="http://service-iphone.com.ua/">проекта Service Apple</a>
    </p>
        <hr/>
        <p>
     <a href="http://service-iphone.com.ua/about/job"><b>Наши вакансии</b></a>
    </p>
      </div>
      <div class="col-md-8 col-sm12 text-center">
        <nav>
          <a class="footer-link" href="/remont-iphone/iphone-3g-3gs.html">iPhone 3G и 3GS</a>
          <a class="footer-link" href="/remont-iphone/iphone-4.html">iPhone 4</a>
          <a class="footer-link" href="/remont-iphone/iphone-4s.html">iPhone 4s</a>
          <a class="footer-link" href="/remont-iphone/iphone-5.html">iPhone 5</a>
          <a class="footer-link" href="/remont-iphone/iphone-5c.html">iPhone 5C</a>
          <a class="footer-link" href="/remont-iphone/iphone-5s.html">iPhone 5S</a>
          <a class="footer-link" href="/remont-iphone/iphone-6.html">iPhone 6</a>
          <a class="footer-link" href="/remont-iphone/iphone-6plus.html">iPhone 6 Plus</a>
        </nav>
      </div>
    </div>
  </div>
</footer>