<div ng-repeat="table in pricesTable">
  <h2 class="pricelist__heading">{{table.tableTitle}}</h2>

  <div class="pricelist__table">
    <div ng-repeat="row in table.rows" class="row pricelist__row">
      <div class="col-md-5">
        <div class="pricelist__item__title">{{row.title}}</div>
        <time class="pricelist__item__time">{{row.repear_time}}</time>
      </div>
      <div class="col-md-3">
        <div class="pricelist__item__cost">{{row.cost}}</div>
      </div>
      <div class="col-md-4">
        <div class="pricelist__item__description">{{row.description}}</div>
      </div>
    </div>
  </div>
</div>
