<!DOCTYPE html>
<html ng-app="iApp">
<head>
  <title>Разбилось стекло iPhone - Сервис центр Service-iPhone.com.ua</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  <meta name="author" content="Anton Abramov"/>
  <meta name="keywords"
       content="pемонт iPhone 3, ремонт iphone 3gs, ремонт iphone 5, pемонт iPhone 4, ремонт ipad, ремонт айфона"/>
  <meta name="description" content="Сервис &quot;Service Apple&quot; выполняет ремонт iPhone, iPad, iPod и MacBook в Киеве, дает гарантию на 2 года и использует оригинальные запчасти."/>
  <link type="image/x-icon" rel="shortcut icon" href="favicon.ico"/>
  <link rel="stylesheet" href="../css/style.css" type="text/css" media="all"/>
  <link rel="stylesheet" media="only screen and (min-width: 480px)" href="../css/480.css">
  <link rel="stylesheet" media="only screen and (min-width: 600px)" href="../css/600.css">
  <link rel="stylesheet" media="only screen and (min-width: 768px)" href="../css/768.css">
  <link rel="stylesheet" media="only screen and (min-width: 992px)" href="../css/992.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,cyrillic-ext' rel='stylesheet'
        type='text/css'>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="/js/vnd/analytics.js"></script>
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K7F3VT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K7F3VT');</script>
<!-- End Google Tag Manager -->
<site-header></site-header>
<nav class="breadcrumbs"></nav>
<div class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Что делать если разбилось стекло iPhone </h1>
      </div>
      <div class="col-sm-3 text-center f40">
        <i class="icon-hammer aa"></i>
      </div>
      <div class="col-sm-9">
        <p>Чаще всего владельцы iPhone обращаются в сервисные центры за помощью, из-за повреждений на стекле телефона (сколы, трещины, царапины). Компания Apple уделяет большое внимание дизайну и стилю своей продукции, но к сожалению, даже «не царапающиеся» поверхности плохо переносят удары о ж поверхность. Для решения такой проблемы достаточно заменить разбитое стекло телефона, процесс занимает чуть менее 25 минут. <a href="">ремонте iPhone</a>.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3>Что такое дисплейные модули</h3>
        <p>Если на iPhone (за исключением моделей «третьей» серии) установлены оригинальные стекла, то в этом случае они неразделимы с дисплеем. Такой тип сборки препятствует попаданию пыли в аппарат, но в случае повреждения стекла, потребуется заменить и дисплей. В более новых моделях iPhone 4 или 4S такого «недостатка» нет.</p>
      </div>
      <div class="col-sm-6">
        <h3>Как производится замена стекла у моделей 3G и 3GS</h3>
        <p>В более старые модели iPhone установлены дисплейные модули (стекло совмещено с дисплеем телефона), которые разбираются. После этого можно беспрепятственно заменить отдельно и стекло, и дисплей. Такая замена не потребует много времени (вам не придется оставлять телефон, вы можете просто подождать 20 минут). Если вы разбили стекло своего iPhone, рекомендуем обратиться к нашим опытным специалистам, мы быстро и качественно заменим поврежденное стекло.</p>
      </div>
    </div>
  </div>
</div>
<div class="container">

  <table ng-controller="priceTables" class="prices-table">
    <thead>
      <tr>
        <th class="prices-table__th" ng-repeat="title in columns">{{title}}</th>
      </tr>

    </thead>
    <tbody>
      <tr ng-repeat="item in rows">
        <td ng-repeat="title in columns">{{item[title]}}</td>
      </tr>
    </tbody>
  </table>
</div>

<!--<address-map></address-map>-->
<section itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address" class="adress-section text-center">
  <h2>Как нас найти:</h2>
  <span itemprop="locality">г. Киев</span>
  <span itemprop="streetAddress">м. Золотые Ворота <br/> ул. Богдана Хмельницкого 32, оф.5</span>

  <div class="adress-section__telephones">
    <a href="tel:0961253246" itemprop="telephone" class="adress-section__number">(096) 1253246</a>
    <a href="tel:0937229156" itemprop="telephone" class="adress-section__number">(093) 7229156</a>
    <a href="tel:0665669752" itemprop="telephone" class="adress-section__number">(066) 5669752</a>
  </div>
  <meta itemprop="openingHours" content="Пн-Пт 10:00-19:00">
  Пн-Пт <strong class="mr10">10:00 - 19:00</strong>
  <meta itemprop="openingHours" content="Сб 11:00-17:00">
  Сб <strong class="mr10">11:00 - 17:00</strong>
  <meta itemprop="openingHours" content="Вс выходной">
  Вс <strong>выходной</strong><br/><br/>

  <div id="googleMap" style="width:100%;height:500px;"></div>
</section>
<footer-site></footer-site>
<script src="../js/vnd/angular.min.js"></script>
<script src="../js/app.js"></script>

<!-- Directives -->
<script src="/js/directives/header.js"></script>
<script src="/js/directives/address.js"></script>
<script src="/js/directives/footer.js"></script>
<script src="/js/directives/iphone3g.js"></script>

<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="../js/init.js"></script>

</body>
</html>